.time-header {
    display: flex;
    justify-content: space-between;
}
.timeline-wrap {
    overflow: scroll;
    height: 260px;
    background-color: #f9f9f9;
    padding: 20px 0;
    margin: 30px 0;
}
.custom-input-number {
    display: inline-block;
}
.editor {
    position: relative;
    border: 1px solid #ccc;
    padding: 14px 10px;
    height: 200px;
    .editor-scale-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    [data-slate-editor=true] {
        height: 100%;
        overflow: scroll;
    }
}
.time-footer {
    margin-top: 10px;
    text-align: right;
}