@import '../../var.scss';

$bg-color: $color-blue;
$line-color: $color-pink;
$font-color: $color-white;
$font-color-dark: $color-dark;

.progress {
    margin: 10px;
    background-color: $bg-color;
    padding: 10px;
    color: $font-color;
    position: relative;

    .progress-percents {
        color: #ccc;
        font-size: 33px;
        position: absolute;
        transform: rotateZ(10deg);
        opacity: 0.7;
        right: 6px;
        top: 3px;
    }
    
    .progress-content {
        display: flex;
        align-items: baseline;
        padding-top: 50px;
    }
    .progress-begin-text,
    .progress-end-text {
        display: inline-block;
        width: 40px;
        overflow-wrap: break-word;
        font-size: 13px;
    }
    
    $progress-line: 20px;
    .progress-line {
        position: relative;
        flex: 1;
        height: $progress-line;
        background: linear-gradient(to right, transparent 60%, $font-color 0);
        background-size: 5px 100%;
        margin: 0 10px;

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
        .progress-line-range {
            width: 100%;
            height: 100%;
            background-color: $line-color;
            transition: all;
        }
    }
    $cur-icon-size: 36px;
    .progress-current {
        position: absolute;
        right: -62px;
        top: -20px - $progress-line;
        $tool-tips-height: 12px * 1.5;
        z-index: 1;
        .tool-tips {
            color: #333;
            padding: 1px 8px;
            position: relative;
            width: 80px;
            // @todo: 这里需要根据 icon 的大小计算
            top: -8px;
            left: -21px;
            background-color: #fff;
            font-size: 13px;
            line-height: 1.5;
            border-radius: 12px * 1.5;
            box-sizing: border-box;
            text-align: center;
            font-family: monospace;
            &:after {
                content: '';
                position: absolute;
                top: $tool-tips-height + 2;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-top: 5px solid white;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
        .person-icon {
            cursor: pointer;
            font-size: $cur-icon-size;
        }
    }
    .progress-tips {
        margin-top: 6px;
        text-align: center;
    }
}
