
$bg-color: #0f4c81;
$line-color: #f46f60;
$font-color: #f0ece3;
$font-color-dark: #3b4141;

// @todo 找个绿色的 icon 
$color-green: #bdd340;

.progress {
    width: 360px;
    margin: 10px;
    background-color: $bg-color;
    padding: 10px;
    color: $font-color;
    .progress-title {
        display: flex;
        justify-content: space-between;
        margin: 0 0 60px;
        font-weight: 300;
    }
    .progress-content {
        display: flex;
        align-items: baseline;
    }
    .progress-begin-text,
    .progress-end-text {
        display: inline-block;
        width: 40px;
        overflow-wrap: break-word;
        font-size: 13px;
    }
    
    $progress-line: 20px;
    .progress-line {
        position: relative;
        flex: 1;
        height: $progress-line;
        background: linear-gradient(to right, transparent 60%, $font-color 0);
        background-size: 5px 100%;
        margin: 0 10px;
        .progress-line-range {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: $line-color;
        }
    }
    $cur-icon-size: 36px;
    .progress-current {
        position: absolute;
        left: calc(50% - #{$cur-icon-size / 2});
        top: -20px - $progress-line;
        $tool-tips-height: 12px * 1.5;
        z-index: 1;
        .tool-tips {
            color: #333;
            padding: 1px 8px;
            position: relative;
            // @todo: 这里需要根据 icon 的大小计算
            top: -8px;
            left: -10px;
            background-color: #fff;
            font-size: 13px;
            line-height: 1.5;
            border-radius: 12px * 1.5;
            &:after {
                content: '';
                position: absolute;
                top: $tool-tips-height + 2;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-top: 5px solid white;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }
        .person-icon {
            font-size: $cur-icon-size;
        }
    }
}
