$color-blue: #0f4c81;
$color-pink: #f46f60;
$color-white: #f0ece3;
$color-dark: #3b4141;

// @todo 找个绿色的 icon 
$color-green: #bdd340;


$color-text-main: #000;
$color-text-sub: $color-dark;
$color-text-helper: #bcc4cc;